<div id="app">
  {{ message }}
  <h1>{{ header }}</h1>
  <ul>
    <li v-for="review in reviews" v-on:click="removeReview(review)" v-if="isNotBad(review)">
      <div>{{ review.author }}</div>
      <div>{{ review.text }}</div>
    </li>
  </ul>
  Your Name: <input v-model="reviewerName">
  Add Review: <input v-model="newReview">
  <button v-on:click="addReview()">Submit Review</button>

</div>
